<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Domain Tree Manager</title>
        <link rel="stylesheet" href="/public/domain.css" />
    </head>
    <body>
        <div class="layout">
            <div class="form">
                <div class="tabs">
                    <button class="tab-btn active" onclick="showTab('manage')">
                        Manage Domains
                    </button>
                    <button class="tab-btn" onclick="showTab('import')">
                        Import Rules
                    </button>
                </div>

                <div class="form-inner">
                    <div id="manage" class="panel active">
                        <form action="/domain" method="post">
                            <label>Add Domains (one per line):</label><br />
                            <textarea name="adds"></textarea><br />

                            <label>Delete Domains (one per line):</label><br />
                            <textarea name="dels"></textarea><br />

                            <button type="submit">Submit</button>
                        </form>
                    </div>

                    <div id="import" class="panel">
                        <form action="/domain" method="put">
                            <label>Import SwitchyOmega Rules</label>
                            <textarea
                                name="rules"
                                placeholder="*.google.com +proxy&#10;*.chatgpt.com +proxy"></textarea>
                            <button type="submit">Import</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="list">
                <h2>Domain List - {{ domains|length }}</h2>
                <ul>
                    {% for domain in domains %}
                    <li>{{ domain }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <script>
            function showTab(id) {
                document
                    .querySelectorAll(".tab-btn")
                    .forEach((btn) => btn.classList.remove("active"));
                document
                    .querySelectorAll(".panel")
                    .forEach((p) => p.classList.remove("active"));

                document
                    .querySelector(`.tab-btn[onclick="showTab('${id}')"]`)
                    .classList.add("active");
                document.getElementById(id).classList.add("active");
            }
        </script>
    </body>
</html>
